.animate-heading {
  transform: translateX(-100px);
  opacity: 0;
  animation: heading 0.5s ease forwards;
}

@keyframes heading {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.fade-slide {
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
