.awardbar-container{
    padding: 2rem;
    margin-bottom: 1rem;
}

.award-heading{
    text-align: center;
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom:2rem;
    transform: translateY(50px);
    opacity: 0;
    animation: award-heading 1s ease forwards;
}

@keyframes award-heading {
    to{
        transform: translateY(0px);
        opacity: 1;
    }    
}

.award-para{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* STYLING FOR AWARD-CONTAINER */

.award-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img-container{
    padding: 0.5rem;
    /* border: 1px solid black; */ /* border hata diya */
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* dark shadow */
}


.imgs{
    height: 10rem;
    width: 10rem;
}

