.Our-clients-container{
    background-color: black;
    margin: 0.5rem;
    margin-top: 2rem;
    
}

.our-clients1-container{
      position: relative;
}

/* SPUDOELEMENT FOR OPACITY */

.our-clients1-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5; /* optional for transparency */
  z-index: 1;
}

.heading-para-container{
    width: 100%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:2rem;
    z-index: 2;  
}

.img{
    width: 100%;
    height: 80%;
    position: relative;
    z-index: 0;
}

.heading1{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 1rem;
    color: white;
}

.heading2{
    animation: animate 0.8s ease-out forwards;
}

@keyframes animate {
    0%{
        transform: translateY(-6rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
    }
}

.para1{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.btn{
    border: none;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    background-color: rgb(0, 166, 255);
    color: white;
    font-size: 1.1rem;
}

.btn:hover{
    background-color: rgb(255, 106, 0);
}

/* SYLING FOR RESPONSIVE */

@media(max-width: 800px){
    .img{
        height: 50vh
    }
    html{
        font-size: 14px;
    }

}

@media(max-width: 500px){
    .img{
        height: 60vh
    }
}

/* STYLING FOR OUR-HAPPY-CLIENTS  */

.outer-container{
    background-color: black;
    padding: 2rem;
    margin-top: 2rem;
}

.heading{
    text-align:center;
    color: white;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.para{
    display: block;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.imgs{
    max-width: 70%;
    background-color: white;
    margin-top: 1rem;
    
    margin-left: 2rem;
}

.img-container{
    border: 1px solid pink;
   max-width: 30%;
   margin-left: 1rem;
   margin-top: 1rem;
   min-width: 22rem;
   max-width: 22rem;
   background-color: white;
   border-radius: 10px;

}

.client-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}