/* STYLING FOR ENTIRE CONTAINER */


.outer-container2{
    background: linear-gradient(135deg,rgb(250, 239, 241),rgb(238, 238, 249));
    margin: 0.5rem;
    border-radius: 1rem;
    padding-top: 1rem;
}

.Our-technologies-container{
    margin: 1rem;
    /* padding: 1rem; */
    background: linear-gradient(135deg,rgb(250, 239, 241),rgb(238, 238, 249));
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

/* STYLING FOR TECHNOLOGIES-HEADINGS */

.Our-technologies-heading-container{
    margin-right: 1rem;
    padding: 2rem;
    min-width: 25%;
}

.heading-container{
    padding: 0.7rem 0.5rem;
    background-color: white;
    margin-top: 0.5rem;
    text-align: center;
    color: rgb(9, 9, 86);
    font-weight: 500;
    min-width: 12rem;
    cursor: pointer;
}

.blue-effect{
    padding: 0.7rem 0.5rem;
    background-color: rgb(97, 248, 240);
    color: white;
    margin-top: 1rem;
    text-align: center;
    color: rgb(9, 9, 86);
    font-weight: 500;
}


/* COPY STYLE */

.outer-container{
    /* padding: 0.5rem; */
    /* background: linear-gradient(to right, #ebf7f9, #f9f1f3); */
    /* margin: 0.5rem; */
    /* margin-top: 2rem; */
    border-radius: 1rem;
    padding-bottom: 2rem;
    background: transparent;
    max-width: 70%;
}

.heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.para{
    color: black;
    display: block;
    text-align: center;
    
}

.imgs{
    max-width: 70%;
    background-color: white;
    margin-top: 1rem;
    margin-left: 2rem;
    max-height: 80%;
}

.img-container{
   max-width: 20%;
   border: 1;
   margin-left: 1.5rem;
   margin-top: 1rem;
   width: 13rem;
   min-width: 9rem;
   height: 7rem;
   background-color: white;
   border-radius: 10px;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.client-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 95%;
}

/* STYLING FOR RESPONSIVENESS */

@media (max-width: 450px){

    
.img-container{
   max-width: 30%;
   width: 13rem;
   min-width: 12rem;
   min-height: 8rem;
}

   html{
    font-size: 12px;
   }

}

@media (max-width: 700px){

   .outer-container{
   
    min-width: 90%;
   }
   .img-container{
     margin-left: 0.5remrem;
     width: 100%;

   }
   .client-container{
    margin: 0rem;
    
   }

 .Our-technologies-heading-container{
    margin-right: 1rem;
    padding: 2rem;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-container{
    width:80% ;
}

.blue-effect{
    width: 80%;
}

}